<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container justify-content-center align-content-center d-flex">


    <form style="width: 450px" class="mt-5" th:action="@{formnewuser}" th:object="${userDto}" method="POST">
            <div th:if= "${msg!=''}">
                <div  class="alert alert-success">
                    <p th:text="${msg}">
                        342343
                    </p>
                </div>
            </div>
        <h4>INFORMATION EMPLOYEE</h4>
        <p>Full name:</p>
        <p><input class="w-100" type="text" th:field="*{fullname}" /></p>
        <p>Username:</p>
        <p><input class="w-100" type="text" th:field="*{username}" /></p>
        <p>Password:</p>
        <p><input class="w-100" type="password" th:field="*{password}" /></p>
        <p>Email:</p>
        <p><input class="w-100" type="email" th:field="*{email}" /></p>
        <p>Address:</p>
        <p><input class="w-100" type="text" th:field="*{address}" /></p>
        <p>DateOfBirth:</p>
        <p><input class="w-100" type="date" th:field="*{dateofbirth}" /></p>
        <p>Role: </p>
        <p>
            <select th:field="*{role}" class="w-100">
                <option value="">SELECT ROLE</option>
                <option th:each="r : ${listrole}"
                        th:value="${r.id}" th:text="${r.name}"></option>
            </select>
        </p>
        <p>
            <input type="submit" class="btn btn-info offset-4 w-25">
        </p>

    </form>
</div>
</body>
</html>