<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <table class="table mt-5 table-bordered">
        <thead class="thead-dark text-center">
        <tr>
            <th>Mã Nhân Viên</th>
            <th>Tên Nhân Viên</th>
            <th>Email</th>
            <th>Ngày khởi tạo</th>
            <th>Code Checkin</th>
            <th>Phân Quyền</th>
            <th>Xóa</th>
            <th>Sửa</th>
            <th>Xem Checkin</th>

        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="userdto:${listemployee} " style="border: 1px solid black">
            <td th:text="${userdto.id}"></td>
            <td th:text="${userdto.fullname}"></td>
            <td th:text="${userdto.email}"></td>
            <td th:text="${userdto.datecreated}"></td>
            <td th:text="${userdto.codecheckin}"></td>
            <td th:text="${userdto.getRole().getName()}"></td>
            <td><a th:href="@{deleteUser(id=${userdto.id})}" class="btn btn-danger">Xóa</a></td>
            <td><a th:href="@{editUser(id=${userdto.id})}" class="btn btn-warning">Sửa</a></td>
            <td><a th:href="@{/viewcheckin(id=${userdto.codecheckin})}" class="btn btn-warning">Xem Checkin</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>